@import "tailwindcss";

@font-face {
  font-family: "Pokemon";
  src: url("pokemon-dp.woff2") format("woff2");
}

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

img{
  image-rendering: pixelated;
}

html,
body {
  @apply bg-sky-300;
  
  font-family: Pokemon;

  @media (prefers-color-scheme: platinum) {
    color-scheme: platinum;
  }
}

@custom-variant diamond (&:where(.diamond, .diamond *));
@custom-variant pearl (&:where(.pearl, .pearl *));
@custom-variant platinum (&:where(.platinum, .platinum *));

html,
body {
  @apply pearl:bg-pink-300 platinum:bg-amber-500 transition duration-300;
}
